<div class="top-container">
    <b>Changes in Child component can be applied to parent's view template just with tick (setTimeout):</b>
    <input [(ngModel)]="parentText">
    <b>Changes from Child which applied to parent's class could be applied without tick and after showed in
        template:
    </b>
    <mat-checkbox [(ngModel)]="isShowWithoutTick">Show changes applied without tick. See dev console too:</mat-checkbox>
    <ng-container *ngIf="isShowWithoutTick">
        <b [style.font-size]="'2em'">{{parentTextNoTick}}</b>
    </ng-container>
    <section [style.display]="'grid'" [formGroup]="checker">
        <mat-checkbox formControlName="child">Show ViewChild component</mat-checkbox>
    </section>
</div>

<div class="middle-container">
    <app-view-child *ngIf="checker.value.child"></app-view-child>
</div>

<app-log class="log-container" [logs]="logs"></app-log>
