@use '../../../styles';

$color: darkviolet;

:host {
    @extend .container;
    border: 3px solid $color;
    background-color: violet;
    grid-template-rows: min-content 1fr 50%;
}

.top-container {
    display: grid;

    p {
        display: grid;
    }
}

.middle-container {
    border: 3px solid $color;
    grid-template-rows: min-content 1fr;
}

.log-container {
    border: 3px solid $color;
}
