@use '../../../scss/parent' with (
    $border-color:darkviolet,
    $background-color: violet
);

.top-container {
    @extend .top-container;
    grid-template-rows: repeat(3, 30px);

    b {
        align-self: center;
    }
}
