li {
  display: grid;
  grid-template-columns: max-content 100px 1fr;
  margin: 5px;

  div {
    display: grid;
    grid-template-columns: 20px 1fr;
  }
  span {
    margin-right: 10px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, max(300px))
}

.item {
  margin: 30px;
  display: grid;
}

.sort-list {
  display: grid;
  grid-template-columns: repeat(2, 30px) 90px
}
