<ol>
    <li value="1">
        <select name="Type" id="Type-select" [(ngModel)]="selectedSortType" (change)="sortTypeChanged()">
            <option value="{{SortType.sString}}">String</option>
            <option value="{{SortType.sNumber}}">Number</option>
            <option value="{{SortType.sDate}}">Date</option>
        </select>
        <div>
            <input id="sortASC" type="radio" name="sortD" value="{{SortDirection.ASC}}" [(ngModel)]="sortDirection" (change)="sortTypeChanged()">
            <label for="sortASC">ABS</label>
            <input id="sortDESC" type="radio" name="sortD" value="{{SortDirection.DESC}}" [(ngModel)]="sortDirection" (change)="sortTypeChanged()">
            <label for="sortDESC">DESC</label>
        </div>
    </li>
</ol>

<div class="container">
    <div class="item">
        Native JavaScript
        <div class="sort-list" *ngFor="let item of listJS">
            <span>{{item.str}}</span>
            <span>{{item.num}}</span>
            <span>{{item.dat}}</span>
        </div>
    </div>
    <div class="item">
        Lodash
        <div class="sort-list" *ngFor="let item of listLodash">
            <span>{{item.str}}</span>
            <span>{{item.num}}</span>
            <span>{{item.dat}}</span>
        </div>
    </div>
</div>
