@use '../../../styles';

$color: green;

:host {
    @extend .container;
    border: 3px solid $color;
    background-color: lightgreen;
    grid-template-rows: min-content 1fr 40%;
}

.middle-container {
    border: 3px solid $color;
}

.log-container {
    border: 3px solid $color;
}
