:host {
    display: flex;
    flex-direction: column;
}

div {
    flex-basis: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
}

button {
    width: 200px;
}

span {
    margin-left: 20px;
}
