@use '../../../styles';

$color: darkorange;

:host {
    @extend .container;
    border: 3px solid $color;
    background-color: orange;
    grid-template-rows: min-content min-content 1fr;
}

.log-container {
    border: 3px solid $color;
}
