<h3>Interaction by Dialog</h3>

<mat-checkbox [(ngModel)]="isCopyObj">Copy object for Edit</mat-checkbox>

<div class="grid-flex">
    <div class="header">
        <div class="btn"></div>
        <div class="small">ID</div>
        <div>Name</div>
    </div>

    <ng-container *ngFor="let item of interactions;">
        <div class="content">
            <div class="btn">
                <mat-icon class="grid-button" (click)="editRow(item)">edit</mat-icon>
                <mat-icon class="grid-button" (click)="deleteRow(item)">delete</mat-icon>
            </div>
            <div class="small">
                {{item.id}}
            </div>
            <div>
                {{item.name}}
            </div>
        </div>
    </ng-container>

    <div class="bottom">
        <div class="btn">
            <mat-icon class="grid-button" (click)="addRow()">add_circle_outline</mat-icon>
        </div>
        <div class="small">Count: {{interactions.length}}</div>
        <div></div>
    </div>
</div>
