@use '../../../scss/parent' with (
    $border-color:darkcyan,
    $background-color: aquamarine
);

:host {
    @extend :host;
    grid-template-rows: min-content 1fr;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}
