<h3>Attribute Directive &#64;Renderer2, &#64;ElementRef, &#64;Input Signal</h3>

<h3 myClass="my-class">
    add class to element directive
</h3>

<h3>Attribute Directive &#64;HostBinding, &#64;HostListener, &#64;Input Signal</h3>

<div myHighlightColor="green" defaultColor="grey">
    Highlight directive set defaultColor="red" background
</div>

<div myHighlightColor="green">
    Highlight directive set appHighlight="green" background
</div>


<h3>Structural Directives &#64;ViewContainerRef, &#64;TemplateRef</h3>
<div>
    ngShow same as ngIf
    <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
    <button (click)="condition = !condition"
            [ngClass]="{ 'a': condition, 'b': !condition }">
        Toggle condition to {{condition ? 'false' : 'true'}}
    </button>
</div>

<div *myShow="condition" class="unless a">
    <p >
        (A) This paragraph is displayed because the condition is false.
    </p>
</div>

<p *myShow="!condition" class="unless b">
    (B) Although the condition is true,
    this paragraph is displayed because appUnless is set to false.
</p>
