.child-box {
    border: 2px solid #2854a7;
    padding: 15px;
    margin: 10px;
    background-color: #e6fbff;
    border-radius: 8px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
}
