<div>
    After Content Component: <input [(ngModel)]="appText">
</div>

<div class="middle-container">
    <section [style.display]="'grid'" [formGroup]="checker">
        <mat-checkbox formControlName="project">Remove projected component [green]</mat-checkbox>
        <mat-checkbox formControlName="inject">Remove injected component [yellow]</mat-checkbox>
    </section>
    <app-projected-parent *ngIf="checker.value.project">
        <app-projected-child *ngIf="checker.value.inject"></app-projected-child>
    </app-projected-parent>
</div>

<app-log class="log-container" [logs]="logs"></app-log>
