<div>
    After Content Component: <input [(ngModel)]="appText">
</div>

<div class="middle-container">
    <section [style.display]="'grid'" [formGroup]="checker">
        <mat-checkbox formControlName="project">Remove projected component [green]</mat-checkbox>
        <mat-checkbox formControlName="inject">Remove injected component [yellow]</mat-checkbox>
    </section>
    <app-projected *ngIf="checker.value.project">
        <app-injected *ngIf="checker.value.inject"></app-injected>
    </app-projected>
</div>

<div class="log-container">
    <div *ngFor="let log of logs">
        {{log}}
    </div>
</div>
