<h3>Interaction by @ViewChildren & @ViewChild decorator</h3>

<mat-checkbox [(ngModel)]="isCopyObj">Copy object for Edit</mat-checkbox>

<div class="grid-flex">
    <div class="header">
        <div class="small"></div>
        <div class="small">ID</div>
        <div>Name</div>
    </div>

    <ng-container *ngFor="let item of interactions;">
        <div class="content">
            <div class="small">
                <mat-icon class="grid-button" (click)="editRow(item)">edit</mat-icon>
                <mat-icon class="grid-button" (click)="deleteRow(item)">delete</mat-icon>
            </div>
            <div class="small" [ngClass]="{'edit': item.isDelete}">
                {{item.id}}
            </div>
            <div [ngClass]="{'edit': item.isDelete}">
                {{item.name}}
            </div>
        </div>

        <ng-template [ngIf]="item.isEdit">
            <div class="content">
                <div class="small edit">
                    <button (click)="saveChildClick(item)">Save</button>
                    <button (click)="cancelChildClick(item)">Cancel</button>
                </div>
                <app-vc-child [item]="item" [isCopyObj]="isCopyObj"></app-vc-child>
            </div>
        </ng-template>
        <ng-template [ngIf]="item.isDelete">
            <div class="content">
                <div>
                    Do you want delete selected row?
                </div>
                <div>
                    <button (click)="saveChildClick(item)">Delete</button>
                    <button (click)="cancelChildClick(item)">Cancel</button>
                </div>
            </div>
        </ng-template>
    </ng-container>

    <div class="bottom">
        <div class="small">
            <mat-icon class="grid-button" (click)="addRow()">add_circle_outline</mat-icon>
        </div>
        <div class="small">Count: {{interactions.length}}</div>
        <div></div>
    </div>
</div>

<div class="grid-flex" *ngIf="newInteraction">
    <div class="content">
        <div class="small edit">
            <button (click)="saveChildClick(newInteraction)">Save</button>
            <button (click)="cancelChildClick(newInteraction)">Cancel</button>
        </div>
        <app-vc-child [item]="newInteraction" [isCopyObj]="isCopyObj"></app-vc-child>
    </div>
</div>
