:host {
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: repeat(auto-fill, 1fr)
}

.track-changes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px;
    margin: 5px;
}
