<div class="track-changes">
    <button (click)="changeVal1Click()">change Value 1 ++</button>
    <button (click)="changeVal2Click()">change Value 2 ++</button>
    <p>Value 1 = {{ value1 }}</p>
    <p>Value 2 = {{ value2 }}</p>
</div>
<app-track-changes [value1]="value1" [value2]="value2"></app-track-changes>

<hr>

<button (click)="handleClickEvent()">Animate</button>

@if (animate.isAnimate()) {
    <div>ANIMATION....</div>
}
@if (isShowAnimatedComponent()) {
    <app-animated></app-animated>
}
