@use '../styles';

$color: blue;

:host {
    @extend .container;
    border: 3px solid $color;
    background-color: lightblue;
}

.top-container {
    display: grid;
    grid-template-columns: 300px 1fr;

    .check-box {
        display: grid;
        grid-template-rows: 30px 70px;
        margin: 5px;
    }
}

.middle-container {
    border: 3px solid $color;

    div {
        min-height: 0;
        margin: 5px;
        display: grid;
        grid-template-rows: 30px 1fr;
    }
}

.log-container {
    border: 3px solid $color;
}
