@use '../scss/parent' with (
    $border-color:blue,
    $background-color: lightblue
);

:host {
    @extend :host;
    grid-template-rows: min-content 1fr 15%;
}

.top-container {
    @extend .top-container;
    grid-template-rows: 30px 80px;
    grid-template-columns: 300px 1fr;

    .check-box {
        display: grid;
        grid-template-rows: min-content 70px;
        margin: 5px;
    }
}

.log-container {

    div {
        background-color: red !important;
    }

    ::shadow .scroll-container {
        background-color: pink;
    }

}
