<div class="top-container">
    <div class="check-box">
        <mat-checkbox [(ngModel)]="logger.showAllEvents">Show all events</mat-checkbox>
        <mat-form-field appearance="outline">
            <mat-label>Select Component</mat-label>
            <mat-select [(value)]="selectedComponent">
                <mat-option></mat-option>
                <mat-option [value]="option.value" *ngFor="let option of components">{{ option.viewValue }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <ng-container [ngSwitch]="selectedComponent">
            <ng-container *ngSwitchCase="LifeComponents.AfterView">
                <div>
                    <b>[DoCheck, AfterViewChecked, AfterContentChecked]</b> these hooks called every time when something
                    changed in parent or child's components and we should used them just for specific situation.
                </div>
                <div>
                    <b>[AfterViewChecked]</b> can be used in parent to check changes in child component
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="LifeComponents.AfterContent">
                <div>
                    <b>[DoCheck, AfterViewChecked, AfterContentChecked]</b> these hooks called every time when something
                    changed in current, parent or child's components and we should used them just for specific
                    situation.
                </div>
                <div>
                    <b>[AfterContentChecked]</b> can be used in parent to check changes in projected component by
                    &#64;ContentChild
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="LifeComponents.OnChanges">
                <div>
                    <b>[ngOnChanges]</b> just only called for/if there is an &#64;Input variable set by parent
                </div>
                <div>
                    <b>[ngOnChanges]</b> can be used in child component to tracks &#64;Input changes
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="LifeComponents.OnCheck">
                <div>
                    <b>[ngOnCheck]</b>Changes in Child component can be applied to Parent without tick
                </div>
                <div>
                    <b>[ngOnCheck]</b>Changes in Parent component can be applied to Child without tick
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="middle-container">
    <ng-container [ngSwitch]="selectedComponent">

        <app-after-view *ngSwitchCase="LifeComponents.AfterView"></app-after-view>

        <app-projected-parent *ngSwitchCase="LifeComponents.AfterContent">
            <app-projected-child></app-projected-child>
        </app-projected-parent>

        <app-on-changes-parent *ngSwitchCase="LifeComponents.OnChanges"></app-on-changes-parent>

        <app-on-check-parent *ngSwitchCase="LifeComponents.OnCheck"></app-on-check-parent>

    </ng-container>
</div>

<app-log class="log-container" [logs]="logs"></app-log>
