<ng-template [ngIf]="item?.isAdd || item?.isEdit">
    <div class="content">
        <div class="small edit">
            <button (click)="saveClick()">Save</button>
            <button (click)="cancelClick()">Cancel</button>
        </div>
        <div class="small edit">
            <input [(ngModel)]="item.id" [disabled]="true">
        </div>
        <div class="edit">
            <input [(ngModel)]="item.name">
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="item?.isDelete">
    <div class="content">
        <div>
            Do you want delete selected row?
        </div>
        <div>
            <button (click)="deleteClick()">Delete</button>
            <button (click)="cancelClick()">Cancel</button>
        </div>
    </div>
</ng-template>
