<ng-container [ngSwitch]="data.modificationType">

    <ng-container *ngSwitchCase="ModificationType.Delete">
        <h2 mat-dialog-title>Delete</h2>
        <mat-dialog-content class="mat-typography">
            <h3>Do you want delete this record?</h3>
            <p>ID: <b>{{data.item.id}}</b>, Interaction name: <b>{{data.item.name}}</b></p>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Delete</button>
            <button mat-button (click)="cancelClick()">Cancel</button>
        </mat-dialog-actions>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <h2 mat-dialog-title>{{data.modificationType === ModificationType.New ? 'New' : 'Edit'}}</h2>
        <mat-dialog-content class="mat-typography">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>ID</mat-label>
                    <input matInput placeholder="Interaction name" name="id" disabled [(ngModel)]="data.item.id">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Interaction name</mat-label>
                    <input matInput placeholder="Interaction name" name="name" [(ngModel)]="data.item.name">
                </mat-form-field>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
                {{data.modificationType === ModificationType.New ? 'Add' : 'Save'}}
            </button>
            <button mat-button (click)="cancelClick()">Cancel</button>
        </mat-dialog-actions>
    </ng-container>

</ng-container>
